:root {
  --logo-img: url('../assets/logo-img.png');
  --logo-text: url('../assets/logo-text.png');
  --icon-search: url('../assets/icon-search.png');
  --icon-cart: url('../assets/icon-cart.png');
  --icon-theme: url('../assets/icon-theme.png');
  --step: #999999;
  --step-active: #2a2a2a;
  --form-title: #000000;
  --form-input: #808080;
  --item-list-title: #000000;
  --item-list-frame: #e6e6eb;
  --btn-next-background: #F67599;
  --btn-next-arrow: url('../assets/arrow-next.png');
  --btn-pre-font-color: #000000;
  --btn-pre-arrow: url('../assets/arrow-pre.png');
}

.header .logo-panel .logo-img, .header .logo-panel .logo-text, .header .navbar-panel .icons div {
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.header {
  height: 60px;
  padding: 18px 0;
  position: relative;
}

.header .logo-panel {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo-panel .logo-img {
  background-image: var(--logo-img);
}

.header .logo-panel .logo-text {
  width: 105px;
  height: 15px;
  background-image: var(--logo-text);
  margin-left: 8px;
}

.header .navbar-panel {
  color: var(--step-active);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .navbar-panel .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .navbar-panel .nav-bar h3 {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 32px;
}

.header .navbar-panel .icons {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .navbar-panel .icons div {
  margin: 0 20px;
}

.header .navbar-panel .icons .icon-search {
  background-image: var(--icon-search);
}

.header .navbar-panel .icons .icon-cart {
  background-image: var(--icon-cart);
}

.header .navbar-panel .icons .icon-theme {
  background-image: var(--icon-theme);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans TC', sans-serif;
  font-size: 16px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

button[disabled] {
  pointer-events: none;
}

:root {
  --logo-img: url('../assets/logo-img.png');
  --logo-text: url('../assets/logo-text.png');
  --icon-search: url('../assets/icon-search.png');
  --icon-cart: url('../assets/icon-cart.png');
  --icon-theme: url('../assets/icon-theme.png');
  --step: #999999;
  --step-active: #2a2a2a;
  --form-title: #000000;
  --form-input: #808080;
  --item-list-title: #000000;
  --item-list-frame: #e6e6eb;
  --btn-next-background: #F67599;
  --btn-next-arrow: url('../assets/arrow-next.png');
  --btn-pre-font-color: #000000;
  --btn-pre-arrow: url('../assets/arrow-pre.png');
}

:root {
  --logo-img: url('../assets/logo-img.png');
  --logo-text: url('../assets/logo-text.png');
  --icon-search: url('../assets/icon-search.png');
  --icon-cart: url('../assets/icon-cart.png');
  --icon-theme: url('../assets/icon-theme.png');
  --step: #999999;
  --step-active: #2a2a2a;
  --form-title: #000000;
  --form-input: #808080;
  --item-list-title: #000000;
  --item-list-frame: #e6e6eb;
  --btn-next-background: #F67599;
  --btn-next-arrow: url('../assets/arrow-next.png');
  --btn-pre-font-color: #000000;
  --btn-pre-arrow: url('../assets/arrow-pre.png');
}

.step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--step);
}

.step h4 {
  width: 24px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid var(--step);
  font-size: 0.75rem;
}

.step h5 {
  margin-left: 5px;
  font-size: 1rem;
}

.step:nth-child(1) h4 {
  color: #ffffff;
  background-color: var(--step-active);
}

.line {
  width: 60px;
  border-top: 2px solid var(--step);
}

.active, .check {
  color: var(--step-active);
  border-color: var(--step-active);
}

.active h4, .check h4 {
  border-color: var(--step-active);
}

.check h4 {
  color: #ffffff;
  background-color: var(--step-active);
}

input[type="text"], select {
  color: var(--form-input);
  width: 100%;
  height: 40px;
  border: 1px solid var(--form-title);
  border-radius: 4px;
  margin-top: 8px;
  padding-left: 16px;
}

input[type="radio"] {
  -webkit-appearance: none;
  margin: 0;
  width: 20px;
  height: 20px;
  border: 1px solid var(--form-title);
  border-radius: 50%;
  cursor: pointer;
}

input[type="radio"]:checked {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0 0 5px var(--form-title);
          box-shadow: inset 0 0 0 5px var(--form-title);
}

.part {
  font-size: 0.75rem;
  margin-top: 64px;
  height: 336px;
}

.part h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

.part label {
  display: block;
  width: 100%;
  margin: 24px 0 0 0;
  color: var(--form-title);
}

.info-buyer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  grid-gap: 0 30px;
}

.info-buyer .gender, .info-buyer .city {
  grid-column: span 2;
}

.info-buyer .name, .info-buyer .address {
  grid-column: span 4;
}

.info-buyer .phone, .info-buyer .mail {
  grid-column: span 3;
}

.info-delivery {
  margin-bottom: 144px;
  width: 435px;
}

.info-delivery > div {
  position: relative;
  margin-top: 24px;
}

.info-delivery > div input {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
}

.info-delivery > div input:checked ~ label {
  border: 1px solid var(--form-title);
}

.info-delivery > div label {
  margin: 0;
  padding: 11px 0 11px 60px;
  border: 1px solid var(--item-list-frame);
  border-radius: 4px;
  cursor: pointer;
}

.info-delivery > div label h6 {
  font-size: 0.85rem;
}

.info-delivery > div label p {
  font-size: 0.75rem;
}

.info-delivery > div label .delivery-cost {
  position: absolute;
  top: 13px;
  right: 13px;
}

.info-credit-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-credit-card .card-exp, .info-credit-card .card-security {
  width: calc((100% - 30px) * 0.5);
}

:root {
  --logo-img: url('../assets/logo-img.png');
  --logo-text: url('../assets/logo-text.png');
  --icon-search: url('../assets/icon-search.png');
  --icon-cart: url('../assets/icon-cart.png');
  --icon-theme: url('../assets/icon-theme.png');
  --step: #999999;
  --step-active: #2a2a2a;
  --form-title: #000000;
  --form-input: #808080;
  --item-list-title: #000000;
  --item-list-frame: #e6e6eb;
  --btn-next-background: #F67599;
  --btn-next-arrow: url('../assets/arrow-next.png');
  --btn-pre-font-color: #000000;
  --btn-pre-arrow: url('../assets/arrow-pre.png');
}

.btns-panel {
  border-top: 1px solid var(--item-list-frame);
  padding-top: 24px;
}

.btns-panel .btn {
  width: 156px;
  height: 46px;
  padding: 0px;
}

.btns-panel .btn.btn-previous {
  color: var(--btn-pre-font-color);
}

.btns-panel .btn.btn-previous:disabled {
  visibility: hidden;
}

.btns-panel .btn.btn-previous .btn-pre-img {
  content: var(--btn-pre-arrow);
}

.btns-panel .btn.btn-next {
  color: #ffffff;
  border-radius: 8px;
  background-color: var(--btn-next-background);
}

.btns-panel .btn.btn-next .btn-next-img {
  content: var(--btn-next-arrow);
}

.btns-panel .btn span {
  margin: 0 13.5px;
  font-size: 0.85rem;
}

.btns-panel .btn .img {
  display: inline-block;
  width: 20.5px;
  height: 9px;
}

.btns-panel .storage-modal {
  padding: 20px;
}

.shopping-list {
  margin: 32px 0;
  padding: 0 16px;
  border: 1px solid var(--item-list-frame);
  border-radius: 8px;
}

.shopping-list h3 {
  display: block;
  margin: 32px 0;
  font-weight: bold;
}

.shopping-list .shopping-items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.shopping-list .shopping-items .item img {
  width: 100px;
  height: 100px;
}

.shopping-list .shopping-items .item .item-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.shopping-list .shopping-items .item .item-info h4 {
  font-size: 1rem;
  font-weight: bold;
}

.shopping-list .shopping-items .item .item-info div .minus, .shopping-list .shopping-items .item .item-info div .plus {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  color: #000000;
  background-color: var(--item-list-frame);
  cursor: pointer;
}

.shopping-list .shopping-items .item .item-info div .item-quantity {
  margin: 0 20px;
  font-size: 0.85rem;
  pointer-events: none;
}

.shopping-list .shopping-cost {
  margin-top: 16px;
}

.shopping-list .shopping-cost > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0 32px;
  border-top: 1px solid var(--item-list-frame);
  font-size: 0.85rem;
}

.shopping-list .shopping-cost .delivery-fee, .shopping-list .shopping-cost .total-cost {
  font-weight: bold;
}

.app-wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

.main-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 6fr 1fr 5fr;
      grid-template-columns: 6fr 1fr 5fr;
  grid-gap: 30px;
  padding: 0;
}

.main-wrapper .wrapper-left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.main-wrapper .wrapper-right {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

h2 {
  margin: 80px 0 48px;
  font-size: 2rem;
  font-weight: bold;
}
/*# sourceMappingURL=app.css.map */