@import '../scss/reset';
@import '../scss/variables';
@import '../scss/StepsPanel';
@import '../scss/CartForm';
@import '../scss/StepsButtons';
@import '../scss/ItemsPanel';

// for App.vue
.app-wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

// for ShoppingCart.vue
.main-wrapper {
  display: grid;
  grid-template-columns: 6fr 1fr 5fr;
  grid-gap: 30px;
  padding: 0;
  .wrapper-left {
  grid-column: 1 / 2;
  };
  .wrapper-right {
  grid-column: 3 / 4;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}